@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




html,
body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  -webkit-user-drag: none; 
  
}
body::-webkit-scrollbar{
display: none;
}
*{
  -webkit-user-drag: none; /* Safari and older versions of Chrome */
  user-drag: none; /* Standard */
}
.font-arone {
  font-family: "AR One Sans", sans-serif;
}

.font-poppins{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  
}


.font-poppins2{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.font-logo{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
}
